{% load staticfiles %}

<html ng-app="barBingo">
<head>
{% block extra_head %}
    <script type="text/javascript" src="{% static "js/angular.js" %}"></script>
    <script type="text/javascript" src="{% static "js/controllers.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/main.css" %}" type="text/css" media="screen" />
{% endblock %}
</head>

<body ng-controller="BingoBoardCtrl">
<div class="board">
{% verbatim %}
<div ng-repeat="square in squares">
    <div class="square {{ square.status }}" ng-click="clickSquare(square)">
        <p>{{square.text}}</p>
        <p>{{square.position}}</p>
        <p>{{square.id}}</p>
    </div>
</div>
{% endverbatim %}
</div>

</body>

</html>