.board {
    width: 500px;
    height: 500px;
}

.square { 
    height: 100px;
    width: 100px;
    display: block;
    float: left;
    outline: 1px solid;cdy
}

.unfound  {
    color: red;
}

.awaiting  {
    color: yellow;
}

.found  {
    color: green;
}

.square p {
    text-align: center;
    vertical-align: middle;
}